/world/
/logs/
/screenshots/
/crash-reports/
*.jar
!packwiz-installer-bootstrap.jar
/config/*
!/config/defaultoptions/
!/config/defaultoptions/defaultoptions.txt
!/config/packicon.png
!/config/client.json
!/config/common.json
!/config/web_server.json
!/config/ftbquests/
kubejs/exported/**
kubejs/probe/**
